
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}


.bigbox1 {
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}


.ioscreen {
    background-color: #ffffff;
    padding: 15px;
    font-size: 24px;
    border-radius: 5px;
    margin-bottom: 10px;
    height: 20px;
}


.buttonbox {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}


button {
    padding: 15px;
    font-size: 18px;
    border-width:1px;
    border-radius: 5px;
    background-color: #000000;
    color: #fff;
    cursor: pointer;
    border-color: #f4f4f4;
}
.buttonbox {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 50px;
    gap: 5px;
}
.btn {
  grid-row: span 2;
}


button {
    font-size: 18px;
    padding: 10px;
}


button:hover {
    background-color: #ff0000;
}